.btn-rounded {
  border-radius: 50%;
}

.btn-main {
  background-color: var(--main-color);
  color: #fff;
  border-color: var(--main-color);

  &:hover {
    background-color: var(--main-color-hover);
    border-color: var(--main-color-hover);
  }
}

.btn-floating {
  width: var(--button-rounded-width);
  height: var(--button-rounded-height);
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 40px;
  bottom: 40px;
}
