$main-font-color: #2D3748;
$main-title-color: #2D3748;

$main-font-size: 16px;
$main-title-size: 28px;

$main-color: #38A169;
$main-container-bgcolor: #F8F8F8;

$main-color-hover: #33925f;

$main-icon-bgcolor: #EDF2F7;
$main-icon-color: #A0AEC0;

$menu-container-width: 50px;

$menu-icon-width: 2.7rem;
$menu-icon-height: 2.7rem;

$button-rounded-width: 3.2rem;
$button-rounded-height: 3.2rem;
