.container-app {
  min-height: 100vh;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;

  .main {
    width: 100%;
    background-color: var(--main-icon-bgcolor);
    display: flex;
    flex-direction: row;
    height: 100vh;

    .main-nav {
      padding: 0.1rem 0.35rem;
      min-width: var(--menu-container-width);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;

      ul {
        margin: 0;
        padding: 0;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        justify-content: center;
        align-items: center;

        li {
          padding: 0;
          margin: 10px 5px;
          color: var(--main-icon-color);

          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          border-radius: 50%;
          list-style: none;
          width: var(--menu-icon-width);
          height: var(--menu-icon-width);

          transition: all 0.4s;

          &:last-child {
            background-color: var(--main-color);
            color: #fff;
          }

          &:hover {
            background-color: var(--main-icon-bgcolor);
            color: var(--main-icon-color);
          }
        }
      }
    }

    .main-container {
      flex-grow: 1;
      background: var(--main-container-bgcolor);
      padding: 1rem 1.8rem;
    }
  }

  .footer {
    width: 100%;
    height: 40px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-icon-bgcolor);
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

@media (max-width: 600px) {
}
